@@charset "UTF-8";

/* font-family: 'Raleway', sans-serif; */

/* @font-face {font-family: 'sacker-gothic';src :'font/SackersGothicStd-Heavy.otf';}*/

/* bleu clair : #3498DB */

/* bleu foncé : #2C3E50 */

body, html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

a, a:hover {
  text-decoration: none;
}




/* header */
.header {
  background-color: #3498DB;
  height: 70px;
  line-height: 70 px;
}

.logo {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  float: left;
  }

.menu {
    float: right;
    margin-top: auto;
}

.menu a {
  color: #ffffff;
  margin-right: 20px;
}

.menu a:hover {
  color: #2C3E50;
}
/* bannière */
.banner {
    width: 100%;
    max-width: 100%;
}

.ban {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.ban img {
    width: 100%;
    max-width: 100%;
}

.inner-banner {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
}

.inner-banner h1 {
    text-shadow: 1px 1px 20px #ffffff;
}

.inner-banner .btn-custom {
    
}
/* about */

/* protfolio */

/* contact */
